<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="About Me">About Me</a></li>
            <li><a href="projects">Projects</a></li>
        </ul>
    </nav>

    <div class="content">
        <h1>Hello!</h1>
        <p class="me">My name is Kyle. I'm 16 years old and I go to Barry Goldwater High School, along with the coding program at West-MEC, which is how I made this website. In my free time I play video games such as Minecraft and Geometry Dash, and I'm an ex Fortnite/Rocket League player (peak diamond 2 in RL).</p>
        <p class="me">I have a condition called SMA (Spinal Muscular Atrophy) which is the reason why I can't walk. I have a twin sister who also has SMA, and another sister who does not. I have a dog named Pepper, and 3 cats.</p>
        <img class="home" src="/static/images/images.jpg" alt="Minecraft">
        <img class="home" src="/static/images/download (1).jpg" alt="Rocket League">
    </div>

    <footer>
        <p>Background: SVGBackgrounds</p>
        <p>Contact Me: <a href="#">kdbyr771@learner.dvusd.org</a></p>
    </footer>
</body>
</html>