<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Projects</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="About Me">About Me</a></li>
            <li><a href="projects">Projects</a></li>
        </ul>
    </nav>

    <div id="grid">
        <figure>
            <img src="/static/images/image.png" alt="rocket ship profile picture" class="item1">
            <figcaption class="item1">Rocket Ship Profile Picture (Illustrator)</figcaption>
        </figure>
        
        <figure>
            <img src="/static/images/Glass Planet.png" alt="glass planet" class="item2">
            <figcaption class="item2">Glass Planet (Illustrator)</figcaption>
        </figure>

        <figure>
            <video src="/static/images/glitch.mp4" class="item3" controls autoplay loop></video>
            <figcaption>Simple Glitch Effect (Premiere Pro)</figcaption>
        </figure>

        <figure>
            <img src="/static/images/shadow.png" alt="shadow effect" class="item4">
            <figcaption class="item4">Simple Shadow Effect (Illustrator)</figcaption>
        </figure>

        <figure>
            <img src="/static/images/bat.png" alt="bat icon" class="item5">
            <figcaption class="item5">Bat Icon (Illustrator)</figcaption>
        </figure>
    </div>

    <footer>
        <p class="footer_p">Background: SVGBackgrounds</p>
        <p class="footer_p">Contact Me: <a href="#">kdbyr771@learner.dvusd.org</a></p>
    </footer>
</body>
</html>